.navbar .navbar-brand {
    color: #fe0000;
}

.navbar .nav-item .nav-link {
    color: #fe0000;
    font-weight: bold;
}

.navbar .container-fluid {
    background-color: #f5f5f5;
}

.headerpic {
    height: 800px;
    background-image: url('header.png');
    background-size: cover;
    position: relative;
    top: 55px;
}


/*Full Image DIV*/
.headerpic {
    background-image: url('header.png');
    background-size: cover;
    height: 800px;
    width: 100%;
}
.quotations {
    height: 500px;
    width: 800px;
    position: relative;
    top: 150px;
    left: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.quotations h4 {
    color: #f5f5f5;
    font-size: 45px;
}
.quotations h4 {
    color: #f5f5f5;
    font-size: 35px;
}
.quotations p {
    position: relative;
    top: 50px;
    color: #f5f5f5;
    opacity: 70%;
    font-size: 35px;
}
.quotations p i {
    opacity: 70%;
    font-size: 25px;
}
@media (max-width:320px) {
    .headerpic {
        background-size: cover;
        height: 181px;
        width: 321px;
        position: relative;
        top: 45px;
    }
    .quotations {
        margin: 10px;
        height: 148px;
        width: 215px;
        position: relative;
        top: 19px;
        left: -20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .quotations h4 {
        color: #f5f5f5;
        font-size: 11px;
    }
    .quotations p {
        position: relative;
        top: 11px;
        color: #f5f5f5;
        opacity: 70%;
        font-size: 9px;
    }
    .quotations p i {
        opacity: 70%;
        font-size: 7px;
    }
}
@media (min-width:321px) and (max-width:376px){
    .headerpic {
        background-size: cover;
        height: 211px;
        width: 376px;
        position: relative;
        top: 45px;
    }
    .quotations {
        margin: 10px;
        height: 148px;
        width: 225px;
        position: relative;
        top: 35px;
        left: -10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .quotations h4 {
        color: #f5f5f5;
        font-size: 13px;
    }
    .quotations p {
        position: relative;
        top: 11px;
        color: #f5f5f5;
        opacity: 70%;
        font-size: 11px;
    }
    .quotations p i {
        opacity: 70%;
        font-size: 7px;
    }
}
@media (min-width:376px) and (max-width:426px){
    .headerpic {
        background-size: cover;
        height: 239px;
        width: 426px;
        position: relative;
        top: 49px;
    }
    .quotations {
        margin: 10px;
        height: 148px;
        width: 225px;
        position: relative;
        top: 50px;
        left: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .quotations h4 {
        color: #f5f5f5;
        font-size: 14px;
    }
    .quotations p {
        position: relative;
        top: 11px;
        color: #f5f5f5;
        opacity: 70%;
        font-size: 12px;
    }
    .quotations p i {
        opacity: 70%;
        font-size: 8px;
    }
}
@media (min-width:426px) and (max-width:769px){
    .headerpic {
        background-size: cover;
        height: 431px;
        width: 769px;
        position: relative;
        top: 49px;
    }
    .quotations {
        margin: 10px;
        height: 270px;
        width: 400px;
        position: relative;
        top: 80px;
        left: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .quotations h4 {
        color: #f5f5f5;
        font-size: 28px;
    }
    .quotations p {
        position: relative;
        top: 11px;
        color: #f5f5f5;
        opacity: 70%;
        font-size: 24px;
    }
    .quotations p i {
        opacity: 70%;
        font-size: 18px;
    }
}
@media (min-width:769px) and (max-width:1025px){
    .headerpic {
        background-size: cover;
        height: 577px;
        width: 1025px;
        position: relative;
        top: 49px;
    }
    .quotations {
        margin: 10px;
        height: 400px;
        width: 550px;
        position: relative;
        top: 80px;
        left: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .quotations h4 {
        color: #f5f5f5;
        font-size: 35px;
    }
    .quotations p {
        position: relative;
        top: 11px;
        color: #f5f5f5;
        opacity: 70%;
        font-size: 30px;
    }
    .quotations p i {
        opacity: 55%;
        font-size: 22px;
    }
}
/*@media (min-width:1025px) and (max-width:1441px){
    .headerpic {
        background-size: cover;
        height: 809px;
        width: 1441px;
        position: relative;
        top: 49px;
    }
    .quotations {
        margin: 10px;
        height: 600px;
        width: 745px;
        position: relative;
        top: 80px;
        left: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .quotations h4 {
        color: #f5f5f5;
        font-size: 45px;
    }
    .quotations p {
        position: relative;
        top: 45px;
        color: #f5f5f5;
        opacity: 70%;
        font-size: 38px;
    }
    .quotations p i {
        opacity: 55%;
        font-size: 26px;
    }
}*/
.login{
    height: 500px;
    background-color: #ffffff;
    position: relative;
    top:31px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.heading{
    height: 200px;
    width: 1000px;
    color: #fe0000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading hr{
    border: 1px solid #fe0000;
    opacity: 100%;
}
.buttons{
    height: 200px;
    width:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.buttons .btn{
    height: 80px;
    width: 400px;
    color: #ffffff;
    font-weight: bold;
    background-color: #dc2a3c;
    font-size: 25px;
}