.navbar .navbar-brand{
    color: #fe0000;
}
.navbar .nav-item .nav-link{
    color: #fe0000;
    font-weight: bold;
}
.navbar .container-fluid{
    background-color: #f5f5f5;
}
.headerpic {
    height: 800px;
    background-image: url('header.png'); 
    background-size: cover; 
    position: relative;
    top: 55px;
}

.Quotation {
    height: 500px;
    width: 800px;
    position: relative;
    top: 150px;
    left: 20px;
    padding: 50px;
}
#Quotation1{
    margin: 20px;
    height: 150px;
    width: 600px;
    display: flex;
    justify-content: center;
}
#one{
    height: 150px;
    width: 450px;
    color: #ffffff;
    font-size: 35px;
}
#Quotation2{
    margin: 20px;
    height: 100px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#two{
    height: 50px;
    width: 400px;
    color: #ffffff;
    font-size: 25px;
}
#Quotation3{
    margin: 20px;
    height: 100px;
    width: 600px;
    display: flex;
    justify-content: center; 
}
#three{
    height: 50px;
    width: 400px;
    color: #ffffff;
    font-size: 18px;  
    font-weight: lighter; 
}
@media (max-width: 320px) {
    .headerpic {
        height: 361px; 
        width: 644px;
        background-size: cover; 
    }

    .Quotation {
        height: 350px;
        width: 60%;
        top:0px; 
        padding: 30px;
    }
    #Quotation1{
        height: 100px;
        width: 100%;
        margin: 0px;
        position: relative;
        top:40px;
    }

    #Quotation2{
        height: 50px;
        width: 110%;
        margin: 0px;
        align-items:start;
    }

    #Quotation3 {
        height: 50px;
        width: 100%;
        margin: 0px;
    }
    #one{
        height: 100%;
        font-size: 25px;
    }
    #two{
        font-size: 20px;
    }
    #three{
        font-size: 15px;
    }
}
@media (min-width: 321px) and (max-width: 376px) {
    .headerpic {
        height: 462px; 
        width: 822px;
        background-size: cover; 
    }
    .Quotation {
        height: 400px;
        width: 60%;
        top:0px; 
        padding: 30px;
    }
    #Quotation1{
        height: 150px;
        width: 100%;
        margin: 0px;
        position: relative;
        top:40px;
    }
    #Quotation2{
        height: 80px;
        width: 100%;
        margin: 0px;
        align-items:center;
    }
    #Quotation3 {
        height: 50px;
        width: 100%;
        margin: 0px;
    }
    #one{
        height: 100%;
        font-size: 35px;
    }
    #two{
        font-size: 25px;
    }
    #three{
        font-size: 18px;
    }
}
@media (min-width: 376px) and (max-width: 426px) {
    .headerpic {
        height: 462px; 
        width: 830px;
        background-size: cover; 
    }
    .Quotation {
        height: 400px;
        width: 60%;
        top:0px; 
        padding: 30px;
    }
    #Quotation1{
        height: 150px;
        width: 100%;
        margin: 0px;
        position: relative;
        top:40px;
    }
    #Quotation2{
        height: 80px;
        width: 100%;
        margin: 0px;
        align-items:center;
    }
    #Quotation3 {
        height: 50px;
        width: 100%;
        margin: 0px;
    }
    #one{
        height: 100%;
        font-size: 35px;
    }
    #two{
        font-size: 25px;
    }
    #three{
        font-size: 18px;
    }
}
@media (min-width: 426px) and (max-width: 769px) {
    .headerpic {
        height: 462px; 
        width: 822px;
        background-size: cover; 
    }
    .Quotation {
        height: 400px;
        width: 60%;
        top:0px; 
        padding: 30px;
    }
    #Quotation1{
        height: 150px;
        width: 100%;
        margin: 0px;
        position: relative;
        top:40px;
    }
    #Quotation2{
        height: 80px;
        width: 100%;
        margin: 0px;
        align-items:center;
    }
    #Quotation3 {
        height: 50px;
        width: 100%;
        margin: 0px;
    }
    #one{
        height: 100%;
        font-size: 35px;
    }
    #two{
        font-size: 25px;
    }
    #three{
        font-size: 18px;
    }
}
@media (min-width: 769px) and (max-width: 1025px) {
    .headerpic {
        height: 576px; 
        width: 1025px;
        background-size: cover; 
    }
    .Quotation {
        height: 500px;
        width: 60%;
        top:20px; 
        padding: 30px;
    }
    #Quotation1{
        height: 170px;
        width: 100%;
        margin: 0px;
        position: relative;
        top:40px;
    }
    #Quotation2{
        height: 100px;
        width: 100%;
        margin: 0px;
        align-items:center;
    }
    #Quotation3 {
        height: 60px;
        width: 100%;
        margin: 0px;
    }
    #one{
        height: 100%;
        width:100%;
        font-size: 45px;
    }
    #two{
        height: 60%;
        width:100%;
        font-size: 35px;
    }
    #three{
        width:100%;
        font-size: 25px;
    }
}
@media (min-width: 1025px) and (max-width: 1441px) {
    .headerpic {
        height: 810px; 
        width: 1440px;
        background-size: cover; 
    }
    .Quotation {
        height: 600px;
        width: 60%;
        top:60px; 
        padding: 30px;
    }
    #Quotation1{
        height: 250px;
        width: 100%;
        margin: 0px;
        position: relative;
        top:40px;
    }
    #Quotation2{
        height: 130px;
        width: 100%;
        margin: 0px;
        align-items:center;
    }
    #Quotation3 {
        height: 100px;
        width: 100%;
        margin: 0px;
    }
    #one{
        height: 100%;
        width:100%;
        font-size: 65px;
    }
    #two{
        height: 60%;
        width:100%;
        font-size: 50px;
    }
    #three{
        height: 70%;
        width:100%;
        font-size: 35px;
    }
}
/*@media (min-width: 1441px) and (max-width: 2561px) {
    .headerpic {
        height: 1442px; 
        width: 2560px;
        background-size: cover; 
    }
    .Quotation {
        height: 1200px;
        width: 60%;
        top:100px; 
        padding: 30px;
    }
    #Quotation1{
        height: 455px;
        width: 100%;
        margin: 0px;
        position: relative;
        top:40px;
    }
    #Quotation2{
        height: 260px;
        width: 105%;
        margin: 0px;
        align-items:center;
    }
    #Quotation3 {
        height: 200px;
        width: 100%;
        margin: 0px;
    }
    #one{
        height: 100%;
        width:100%;
        font-size: 125px;
    }
    #two{
        height: 60%;
        width:100%;
        font-size: 98px;
    }
    #three{
        height: 70%;
        width:100%;
        font-size: 70px;
    }
}*/